* {
  color: white;
}

h5 {
  color: black;
}

.flex {
  display: flex;
  align-items: center;
}

.description,
.resultDescription {
  text-transform: capitalize;
}

.forecast {
  display: flex;
  padding: 5%;
}

.userInput {
  color: black;
}

.current,
.resultContainer {
  padding: 3%;
  margin: 0 auto;
  background-color: gray;
  border-radius: 10%;
  /* text-indent: 50%; */
}

/* ul {
  color: black;
} */

ul:hover {
  text-decoration: underline;
}

.nav,
.searchBtn {
  text-align: center;
  background-color: #494949;
}


.recentSearch {
  background-color: gray;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}